use flake

OPENROUTER_API_KEY=$(pass show llm/openrouter/general-key)
OPENROUTER_MODEL=anthropic/claude-3-haiku
# OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

DEBUG=true
SECRET_KEY=your-secret-key-here
# DATABASE_URL=sqlite:///db.sqlite3
